<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <h1>{{hotel.name}}</h1>
    <br>
    <img src="{{hotel.img.url}}" height='200px' alt="hotel pic"><br>
    Location:{{hotel.location}}<br>
    Price for stay:{{hotel.price}}<br>
    Address:{{hotel.address}}<br>
    Rooms to book:{{hotel.room_available}}<br>
   
</body>
</html>